.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.conda/
.gitconfig
.gnupg/
.gtkrc-2.0
.gtkrc-2.0-kde4
.hcwd
.hplip/
.inputrc
.ipython/
.julia/
.kde/
.local/share/
.local/state/
.m2/
.mozilla/
.npm/
.pki/
.python_history
.qt/
.ssh/
.vim/
.viminfo
.vscode/
Desktop/
Documents/
Downloads/
Pictures/
lua-language-server/
notes_dolomity.txt
projects/
