.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.conda/
.config/GIMP/
.config/KDE/
.config/OpenSCAD/
.config/PlasmaDiscoverUpdates
.config/QtProject.conf
.config/QtProject/
.config/Trolltech.conf
.config/Unknown Organization/
.config/akonadi-firstrunrc
.config/akonadi/
.config/akonadi_akonotes_resource_0rc
.config/akonadi_contacts_resource_0rc
.config/akonadi_google_resource_0rc
.config/akonadi_ical_resource_0rc
.config/akonadi_imap_resource_0rc
.config/akonadi_indexing_agentrc
.config/akonadi_maildir_resource_0rc
.config/arkrc
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/clangd/
.config/dconf/
.config/defaultcalendarrc
.config/discoverrc
.config/dolphinrc
.config/dragonplayerrc
.config/drkonqirc
.config/emaildefaults
.config/emailidentities
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/ibus/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kalendaracrc
.config/katevirc
.config/kcalcrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kdedefaults/
.config/kdeglobals
.config/kglobalshortcutsrc
.config/kgpgrc
.config/khelpcenterrc
.config/kiorc
.config/kmail2rc
.config/kmailsearchindexingrc
.config/knfsshare
.config/konsolerc
.config/konsolesshconfig
.config/kontact_summaryrc
.config/kontactrc
.config/krdcrc
.config/ksmserverrc
.config/ktimezonedrc
.config/ktnefrc
.config/kwalletmanager5rc
.config/kwalletmanagerrc
.config/kwalletrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kwriterc
.config/kxkbrc
.config/libaccounts-glib/
.config/libreoffice/
.config/mailtransports
.config/mimeapps.list
.config/nvim_old/
.config/okularrc
.config/phishingurlrc
.config/pimdataexporterrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasma_calendar_holiday_regions
.config/plasmanotifyrc
.config/plasmaparc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/session/
.config/specialmailcollectionsrc
.config/spectaclerc
.config/systemmonitorrc
.config/systemsettingsrc
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xdg-desktop-portal-kderc
.config/xsettingsd/
.gitconfig
.gnupg/
.gtkrc-2.0
.gtkrc-2.0-kde4
.hcwd
.hplip/
.inputrc
.ipython/
.julia/
.kde/
.lazarus/
.local/lib/
.local/share/
.local/state/
.m2/
.mozilla/
.npm/
.pki/
.profile
.python_history
.qt/
.ssh/
.steam/
.steampath
.steampid
.var/
.vim/
.viminfo
.virtualenvs/
.vscode/
.wine/
Desktop/
Documents/
Downloads/
Pictures/
lua-language-server/
miniconda3/
notes_dolomity.txt
projects/
